 /* mail list */

 .emails-lst-container {
     display: grid;
     height: 100vh; 
 }

 .email-card {
    display: flex;
    padding: 10px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }

 .email-card-content {
     flex: 1;
 }

 .email-card-from {
     font-weight: bold;
     margin-bottom: 4px;
 }

 .email-card-subject {
     font-size: 16px;
     margin-bottom: 8px;
 }

 .email-card-body {
    color: #333;
     margin-bottom: 8px;
     
 }

 .email-card-sentAt {
     font-size: 12px;
     color: #5f6368;
 }
