
.send-email {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    max-width: 90%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
    transition: height 0.3s ease; /* Add transition for minimize effect */
  }
  
  .send-email h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    background-color: #f6f8fd;
  }
  
  .send-email form {
    display: flex;
    flex-direction: column;
  }
  
  .send-email label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .send-email input,
  .send-email textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    outline: none; /* Remove default input focus outline */
  }
  
  .send-email .send-btn,
  .send-email .cancel-btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .send-email .send-btn {
    background-color: #2758dd;
    color: white;
  }
  
  
  .send-email .send-btn:hover {
  }
  
  .send-email .cancel-btn:hover {
    background-color: #f3f6fd;
  }
  
  .send-email .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .send-email .minimize-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }