.email-card-select-email {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    text-align: start;
    background-color: #ffffff;
    color: #202124;
    box-shadow: rgba(100, 121, 143, 0.12) 0px -1px 0px 0px inset;
    border-radius: 0px;
    min-height: 40px;
    max-height: 50px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.email-card-btn-from {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}

.email-card-from {
    font-weight: bold;
    /* Spacing between from and subject */
}

.email-starred-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-inline: start;
  }

  .material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.email-card-subject-body {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;

}

.email-card-subject {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5f6368;
}

.email-card-sentAt {
    grid-column: 3 / 4;
    font-size: 12px;
    color: #5f6368;
    margin-left: auto;
    /* Space between last child and the end */
}

.star-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .starred-icon, .unstarred-icon {
    font-size: 1em; /* Adjust size as needed */
    color: inherit;   /* Inherit color from parent */
  }

  .starred-icon{
    color: yellow; 
    background-color: yellow;
  }
