.email-card {
    display: flex;
    /* display: grid; */
    width: calc(100vw - 3.472vw); 
     height: calc (100vh - - 3.472vh); 
     z-index: 0;


    position: relative;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    border: #202124;
    border-width: 2px;
}

.email-card-read {
    background-color: lightblue !important;
}

.email-card-select-email {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

    width: calc(100vw - 3.472vw);
    height: calc (100vh - - 3.472vh); 


    align-items: center;
    background-color: #ffffff;
    color: #202124;
    border-radius: 0px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: box-shadow 0.3s ease, background-color 0.3s ease;


    position: relative;

    /* vertical-align: middle */
    /* z-index: 1; */
    /* top: 85px; */
}



.email-card-btn-from {
    grid-column: span 1;
    display: flex;
    align-items: center;
    margin-left: 30px;
    /* justify-content: center; */
}

.email-card-from {
    font-weight: bold;
    margin-left: 10px;

}

.email-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    /* margin-inline: start; */
    margin-right: 10px;

}

.delete-btn {
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}


.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
    margin-inline: 5px;
}

.material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-inline: 5px;
}


.drag-indicator {
    display: none;
    background: none;
    border: none;
    position: absolute;
    left: 10px;
}



.custom-icon {
    color: #f2cb4c;
}

.email-card:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.email-card:hover .email-card-sentAt {
    display: none;
}

.email-card:hover .drag-indicator {
    display: block;
}

.email-card:hover .delete-btn {
    display: inline;
}

/* .email-card:hover .drag-indicator {
    display: inline;
    display: block;

}

.email-card:hover .delete-btn {
    display: inline;
    display: block;

} */

.email-card-subject-body {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* overflow: hidden;
    text-overflow: ellipsis; */

}

.email-card-subject {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.email-card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5f6368;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.email-card-sentAt {
    font-size: 12px;
    color: #5f6368;
    display: block;
    /* display: inline; */

}

.email-actions {
    grid-column: span 1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    justify-content: center;
    text-align: right;
    justify-content: flex-end;


}