.email-card {
    display: flex;
    /* display: grid; */
    width: calc(100vw - 3.472vw); 
     height: calc (100vh - - 3.472vh); 
     z-index: 0;


    position: relative;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    border: #202124;
    border-width: 2px;
    align-items: center;
}

.email-card-read {
    background-color: #f3f6fd !important;
}

.email-card-select-email {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

    width: calc(100vw - 3.472vw);
    height: calc (100vh - - 3.472vh); 


    align-items: center;
    background-color: #ffffff;
    color: #202124;
    border-radius: 0px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: box-shadow 0.3s ease, background-color 0.3s ease;


    position: relative;
}

.email-card-btn-from {
    grid-column: span 1;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.email-card-from {
    font-weight: bold;
    margin-left: 10px;
}

.email-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
}

.starred-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    margin-right: 10px;
    transition: background-color 0.3s ease, border 0.3s ease;

}

.delete-btn {
    display: none;
    background-color: transparent;
    padding: 4px; 
    cursor: pointer;
    border-radius: 50%; 
    transition: background-color 0.3s ease, border 0.3s ease;
}

.read-btn {
    display: none;
    background-color: transparent;
    padding: 4px; 
    cursor: pointer;
    border-radius: 50%; 

  }


.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
    margin-inline: 5px;
}

.material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-inline: 5px;
}


.drag-indicator {
    display: none;
    background: none;
    border: none;
    position: absolute;
    left: 10px;
}

.custom-icon {
    color: #f2cb4c;
}


.email-card:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.email-card:hover .email-card-sentAt {
    display: none;
}

.email-card:hover .drag-indicator {
    display: block;
}

.email-card:hover .delete-btn {
    display: inline;
}

.email-card:hover .read-btn {
    display: inline;
}

.delete-btn:hover {
    background-color: #e7eaf0;
    border: 2px solid transparent;
}
.read-btn:hover {
    background-color: #e7eaf0;
    border: 2px solid transparent;
}

.starred-btn:hover {
    background-color: #e7eaf0;
    border: 2px solid transparent;
    padding: 4px; 
    cursor: pointer;
    border-radius: 50%; 
}


.email-card-subject-body {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.email-card-subject {
    font-weight: bold;
    margin-right: 10px;
}

.email-card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5f6368;
}

.email-card-sentAt {
    font-size: 12px;
    color: #5f6368;
    display: block;
}

.email-actions {
    grid-column: span 1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    justify-content: center;
    text-align: right;
    justify-content: flex-end;
    transform: translateY(-28%);

}