 /* mail index  */

 .mail-index {
    display: flex;
    flex-direction: column;
    height: 100vh;

  }
  
  .mail-header {
    background-color: #f6f8fc;
    color: #000000;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px; /* Adjust width as needed */
    background-color: rgba(240, 240, 240, 0.8); /* Transparent background */
    padding-top: 50px; /* Space for the header */
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .sidebar:hover {
    width: 150px; /* Grow on hover */
    background-color: rgba(240, 240, 240, 1); /* Solid background on hover */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .main-content {
    padding: 20px;
    margin-left: 30px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* Style buttons inside the sidebar */
  .sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent; /* Transparent button */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .sidebar button:hover {
    background-color: #ccc; /* Light background on hover */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .sidebar {
      width: 150px;
    }
    
    .main-content {
      margin-left: 150px;
    }
  }