 /* mail index  */

 .mail-index {
   display: flex;
   flex-direction: column;
   align-items: center; 
   height: 100vh;

 }

 .main-container {
   display: grid;
   grid-template-columns: auto 1fr;
   width: calc(100vw - 3.472vw );
   height: 100vh;
   margin-left: 100px;
 }


 .sidebar {
   grid-column: 1/2;
   grid-row: 1 / -1;
   position: fixed;
   top: 85px;
   left: 0; 
   bottom: 0;
   width: 3.472vw;
   background-color: #f6f8fd;
   transition: width 0.1s ease-in-out, background-color 0.2s ease-in-out; 
   overflow: hidden;
 }

 .sidebar:hover {
   width: 150px;
 }

 .sidebar ul {
   list-style-type: none;
   padding: 0;
 }

 .sidebar ul li {
   margin-bottom: 10px;
 }

 .sidebar button {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 10px;
   border: none;
   background-color: transparent;
   cursor: pointer;
   transition: background-color 0.3s ease;
   overflow: hidden;
 }

 .sidebar button:hover {
   background-color: #eaebf0;
 }
 

 .button-text {
  opacity: 0; 
  transition: opacity 0.8s ease-in-out; 
 }

 .sidebar:hover .button-text {
  opacity: 1; 

 }

 .material-icons {
  font-size: 24px; 
  margin-right: 10px; 
}

.material-symbol {
  font-size: 24px; 
  margin-right: 10px; 
}


